.available-dates-and-times-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-left: 0;
	padding-left: 0;
	/* border-width: 2px; 
	border-style: solid;
	border-color: red; ]*/
}

.available-dates-and-times-container > span {
	margin-bottom: 10px;
	text-align: center;
	font-size: 2em;
	color: #000905;
}

.dates-and-times-cards-container {
	display: flex;
	flex-direction: column;
	gap: 1vh;
	margin-top: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 15px;
	font-size: 1.3em;
	border-radius: 10px;
	background-color: #ffe9de;
	max-height: 30%;
	border-width: 2px;
	border-style: solid;
	border-color: #926f60;
}

.date {
	display: flex;
	justify-content: center;
}

.date img {
	margin-right: 5px;
}

.time {
	display: flex;
	justify-content: center;
}

.show-more {
	text-align: center;
	color: #3595ff;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
	margin-top: 10px;
}
