button:hover {
    background-color: initial;
    border: none;
}

.button-text {
    font-size: 1em;
}

.button-1 {
    border-radius: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: var(--accent-color);
    cursor: pointer;
    transition: background-color 0.3s; /* Transition for hover effect */
    margin: 0 var(--spacing-small);
    color: white;
    width: 10px;
    font-weight: bolder !important;
}

.button-2 {
    color: var(--text-color);
    border-radius: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: white;
    border-color: var(--accent-color);
    cursor: pointer;
    transition: background-color 0.3s; /* Transition for hover effect */
    /* color: #f86624; */
    color: #9c4f21;
    margin: 0 var(--spacing-small);
}

.button-submit {
    border-radius: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: var(--accent-color);
    cursor: pointer;
    transition: background-color 0.3s; /* Transition for hover effect */
    margin: 0 var(--spacing-small);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button-submit:hover {
    color: var(--text-color);
    background-color: var(--accent-color);
}
.button-1:hover {
    color: var(--text-color);
    background-color: var(--accent-color);
}
.button-2:hover {
    color: white;
    background-color: var(--accent-color);
}

.loader {
    width: 3vmin;
    height: 3vmin;
    border: 3px dotted #fff;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #ff3d00;
    border-style: solid solid dotted;
    width: 1.5vmin;
    height: 1.5vmin;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
