/* Tags.css */

.tags-container {
	margin-left: 22px;
}
.tags {
	display: flex; /* Use flexbox to arrange tags horizontally */
	flex-wrap: wrap; /* Allow tags to wrap onto the next line */
	gap: 8px; /* Space between tags */
	padding: 10px; /* Optional padding around the container */

	margin-left: 1.5%;
}

.tag {
	background-color: #ffd7c4; /* Background color for tags */
	color: black; /* Text color for tags */
	padding: 8px 13px; /* Padding inside each tag */
	border-radius: 60px; /* Rounded corners for tags */
	font-size: 1.5em; /* Font size for tags */
}


.tag-header {
	display: flex;
	align-items: center;
}
.tag-header > span {
	font-size: 2em;
	display: flex inline;
	flex-direction: row;
	
}

.tag-header > img {
	display: inline-block;

}
.tag-icon {
	margin-right: 10px;
	width: 5%;
}
