:root {
    --primary-color: black;
    --secondary-color: rgb(242, 220, 220);
    --background-color: #fbf7f5;

    --text-color: #333;
    --accent-color: #f86624;
    --accent-color-dark: #c34704;
    --accent-color-light: #f0b69b;

    --spacing-small: 1rem;
    --spacing-medium: 1.5rem;
    --font-size-small: 0.875rem; /* ~14px */
    --font-size-medium: 1rem; /* ~16px */
    --font-size-large: 1.25rem; /* ~20px */

    --spacing-large: 24px;

    --border-radius: 8px;

    --opacity-semiopaque: 0.5;
    --opacity-transparent: 0.2;
}
