.hotel-list-with-controls {
    width: 90%;
    margin-top: 3%;
    margin-left: 3.5%;
}
.hotel-list-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin: 20px; /* Optional spacing around the container */
    /* margin-top: 60px; */
    width: 100%;
    padding-right: 3vw;
}

.hotel-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    gap: 16px; /* Space between each card */
    width: 100%;
    /* margin-bottom: 20px; */
    justify-content: center;
    align-items: center;
}
