.admin-control {
    display: flex;
    justify-content: space-between; /* Space between filter and sort button */
    align-items: center; /* Align items vertically */
    margin: var(--spacing-large) 0; /* Margin around the control panel */
    width: 90%;
    border: 34px;
    max-height: 2vh;
    padding-bottom: 1.5vh;
}

.filter-buttons {
    display: flex;
}
.sort-div {
    align-items: center;
    justify-content: center;
}
