.view-single-complaint {
    border: 1px solid black;
    border-radius: 50px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40vh;
    padding: 5vmin;
}

.complaint-container {
    width: 90%;
}

.comment-list {
    width: 50%;
}
